@{
    ViewBag.Title = "Food Menu";
}

<h2>Food Lists</h2>

<table id="menuTable">
    <thead>
        <tr>
            <th>Dish Name</th>
            <th>Dish Details</th>
        </tr>
    </thead>
</table>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

@section scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#menuTable").DataTable({
                "ajax": {
                    "url": "/Menu/GetList",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "dishName" },
                    { "data": "dishDetails" },
                   
                ]
            });
        });
    </script>
}